/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126;
   License: none (public domain);
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

html{
  font-size: 62.5%;
}

html,body,a{
  cursor: none;
  // font-family: Arial;
  font-family: "Roboto", sans-serif;
}

// theme color;
$bg_black: #112228; // rgb(21, 34, 39);
$pink: #f57f96;     // rgb(245, 127, 150);


// z-index list
$ui: 9999;
$bg_canvas: 10;
$bg_canvas_upper: 11;
$bg_canvas_lower: 9;

body{
  margin: 0;
  // overflow: hidden;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: $bg_black;
  a{
    text-decoration: underline;
    color: inherit;
  }
}
.wrapper{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  transition: all .4s ease 0s;
  color: #fff;
  overflow: hidden;
  &.blur{
    filter: blur(100px);
    opacity: 0;
  }
}
@supports (-webkit-touch-callout: none) {
  .wrapper {
    /* Safari用のハック */
    min-height: -webkit-fill-available;
  }
}
.bgbtn{
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  background: #000;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  color: #fff;
  z-index: 10000;
}
.testcanvas{
  background: linear-gradient(to bottom, #234, #567);
  opacity: .75;
}
#canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $bg_canvas;
  pointer-events: none;
}
@keyframes cursorUp{
  0%{
    transform: translate(0%, 0%);
  }
  10%{
    transform: translate(0%, 0%);
  }
  50%{
    transform: translate(0%, -100%);
  }
  51%{
    transform: translate(0%, 100%);
  }
  90%{
    transform: translate(0%, 0%);
  }
  100%{
    transform: translate(0%, 0%);
  }
}
@keyframes cursorDown{
  0%{
    transform: translate(0%, 0%);
  }
  10%{
    transform: translate(0%, 0%);
  }
  50%{
    transform: translate(0%, 100%);
  }
  51%{
    transform: translate(0%, -100%);
  }
  90%{
    transform: translate(0%, 0%);
  }
  100%{
    transform: translate(0%, 0%);
  }
}
.cursor{
  width: 8px;
  height: 8px;
  pointer-events: none;
  position: fixed;
  top: -4px;
  left: -4px;
  transform: translate(0, 0);
  transform-origin: 50% 50%;
  z-index: $ui + 1;
  // transition: width .3s height .3s top .3s, left .3s ease 0s;
  overflow: hidden;
  &::before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .75);
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .3s ease 0s;
    transform-origin: 50% 50%;
    box-sizing: border-box;    
  }
  &::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .75);
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .3s ease 0s;
    transform-origin: 50% 50%;
    box-sizing: border-box;
  }
  &:hover, &.hover{
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
    &::after{
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 255, 255, .75);
      background: none;
    }
  }
  &.jumping{
    width: 100vw;
    height: 100vh;
    top: -50vh;
    left: -50vw;
  }


  @keyframes arrowUp {
    0%, 10%{
      transform: translateY(0%);
    }
    50%{
      transform: translateY(-50%);
    }
    90%, 100%{
      transform: translateY(0%);
    }
  }
  @keyframes arrowDown {
    0%, 10%{
      transform: translateY(0%);
    }
    50%{
      transform: translateY(-50%);
    }
    90%, 100%{
      transform: translateY(0%);
    }
  }

  .arrow{
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity .3s ease 0s;
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
    svg{
      position: relative;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 14px;
      margin: -6px 0 0 -6px;
      display: block;
      path{
        fill: rgba(255, 255, 255, .75);
      }      
    }
  }
  &.up{
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    &::before{
      opacity: 0;
    }
    &::after{
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 255, 255, .75);
      background: none;
    }
    .arrow{
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
      svg{
        animation: arrowUp 1s ease 0s infinite;
      }
    }
  }
  &.down{
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    &::before{
      opacity: 0;
    }
    &::after{
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 255, 255, .75);
      background: none;
    }
    .arrow{
      transform: scale(1) translate(-50%, -50%) rotate(180deg);
      opacity: 1;
      svg{
        animation: arrowDown 1s ease 0s infinite;
      }
    }
  }
}
.overlay_first{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: $bg_black;
  color: #fff;
  filter: blur(0px);
  opacity: 1;
  transition: all 1s ease 0s;
  &.hide{
    filter: blur(100px);
    opacity: 0;
    z-index: -1;
  }
  .name{
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.upper{
      transition: all .2s linear 0s;
      &.empty{
        clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
      }
      &.half{
        clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);        
      }
      &.full{
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
      }
    }
    &.lower{
      -webkit-text-stroke: 1px #fff;
      color: rgba(255, 255, 255, 0);      
    }
  }
}
.index_outer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header{
  width: 100%;
  position: fixed;
  z-index: $ui;
  color: #fff;
  .pagetitle{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .back{
    font-size: 18px;
    font-weight: 400;
    width: 120px;
    height: 30px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 60px;
    left: 0;
    transition: color .3s ease 0s;
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: 0;
      position: relative;
      transition: all .3s ease 0s;
      transform: scaleX(0);
      transform-origin: 0% 50%;
    }
    & > span{
      position: absolute;
      top: 50%;
      left: 5px;
      margin-top: -10px;
      z-index: 1;
      color: #fff;
      transition: all .3s ease 0s;
    }
    &:hover{
      &::before{
        transform: scaleX(1);
        transform-origin: 0% 50%;  
      }
      & > span{
        color: $bg_black;
      }
    }
  }
  nav{
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 100;
    .hamburger{
      width: 48px;
      height: 48px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 100;
      display: none;
      &::before{
        content: "";
        width: 100%;
        height: 12px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 12px;
        left: 0;
        box-sizing: border-box;
        transition: all .3s ease 0s;
      }
      &::after{
        content: "";
        width: 100%;
        height: 0;
        border-bottom: 2px solid #fff;
        position: absolute;
        bottom: 13px;
        left: 0;
        box-sizing: border-box;
        transition: all .3s ease 0s;
      }
    }
    .link_list{
      display: flex;
      & > li{
        width: 6em;
        height: 30px;
        font-size: 18px;
        font-weight: 400;    
        margin: 0 0 0 10px;
        position: relative;
        &::before{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: #fff;
          z-index: 0;
          position: relative;
          transition: all .3s ease 0s;
          transform: scaleX(0);
          transform-origin: 0% 50%;
        }
        & > span{
          position: absolute;
          top: 50%;
          left: 5px;
          margin-top: -10px;
          transition: all .3s ease 0s;
        }
        & > a{
          display: block;
        }
        &:hover{
          &::before{
            transform: scaleX(1);
            transform-origin: 0% 50%;  
          }
          & > span{
            color: $bg_black;
          }          
        }
      }
    }

    &.active{
      .hamburger{
        &::before{
          height: 0;
          border-bottom: none;
          transform: rotate(45deg) translate(8px, 6px);
        }
        &::after{
          transform: rotate(-45deg) translate(8px, -6px);
        }
      }
      .link_list{
        right: 0;
      }
    }
  }
  .white{
    color: #fff;
    border-color: #fff;
    &.hamburger{
      &::before, &::after{
        border-color: #fff;
      }
    }
  }
}
@keyframes code {
  0%{
    transform: scale(0);
    border: 0px solid #fff;
  }
  40%{
    transform: scale(1);
    border: 20px solid #fff;
  }
  60%{
    transform: scale(1);
    border: 20px solid #fff;
  }
  100%{
    transform: scale(1);
    border: 0px solid #fff;
  }
}
.code{
  width: 40px;
  height: 40px;
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  font-family: "alial";
  text-decoration: none;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 0px solid #fff;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
  }
  & > svg{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    & > g{
      & > path{
        fill: #fff;
      }
    }
  }
  // &:hover{
  //   &::before{
  //     animation: code .5s ease-in-out 0s alternate;
  //   }
  // }
}
.handler{
  width: 100%;
  height: 15vh;
  min-height: 60px;
  position: absolute;
  left: 0;
  z-index: 90;
  display: none;
  // background: rgba(20, 20, 20, .1);
  &.handlerPrev{
    top: 0;
  }
  &.handlerNext{
    bottom: 0;
  }
}
.main_outer{
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 120px 120px;
  box-sizing: border-box;
  .inner{
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

@keyframes scrollGuide {
  0%{
    opacity: 0;    
  }
  20%{
    opacity: 1;
    transform: translateY(0%);
  }
  50%{
    opacity: 1;
    transform: translateY(200%);
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
.scrollGuide_outer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, .6);
  transition: all .3s ease 0s;
  &.hidden{
    opacity: 0;
    z-index: -1;
  }
}
.scrollGuide{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $bg_canvas_upper;
  .txt{
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin: 0 0 10px;
  }
  .icon{
    width: 30px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    &::before{
      content: '';
      display: block;
      width: 4px;
      height: 6px;
      background: #fff;
      position: absolute;
      top: 7.5%;
      left: 50%;
      margin: 0 0 0 -2px;
      border-radius: 4px;
      box-sizing: border-box;
      animation: scrollGuide 1s ease-in-out 0s infinite;
    }
  }
}
.productsList_bar{
  width: 2px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -160px;
  background: rgba(255, 255, 255, .2);
  z-index: $bg_canvas_upper;
  &::before, &::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    left: 0;
  }
  &::before{
    top: -20px;
  }
  &::after{
    bottom: -20px;
  }
  .bar_main{
    width: 2px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    margin-top: -20px;
    transition: all .3s ease 0s;
  }
  .index{
    width: 30px;
    font-size: 11px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: right;
  }
}
.products_outer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.products{
  width: 75vw;
  height: 320px;
  max-width: 1040px;
  margin: auto;
  position: relative;
  overflow: hidden;
  & > li{
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all .3s ease 0s;
    &.hidden{
      display: none;
    }
    & > span{
      display: flex;
      justify-content: center;
      align-items: center;
      // transition: all .3s ease 0s;
      & > h1{
        width: 100%;
        margin: 0 -640px 0 0;
        font-size: 76px;
        font-weight: 900;
        line-height: 1.5;
        // -webkit-text-stroke: 1px #fff;
        // position: relative;
        transition: all .3s ease-in-out .2s;
        z-index: $bg_canvas_upper;
        & > span{
          display: inline-block;
          position: relative;
          color: #fff;
          // background: #0FB494;
          // padding: 10px 20px;
          box-sizing: border-box;
          text-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        }
        &:hover + .imageWrapper{
          transform: scale(1);
          z-index: $bg_canvas_upper;
          // filter: brightness(100%) grayscale(0%);
        }
      }
      & > .imageWrapper{
        width: 640px;
        display: block;
        position: relative;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
        transform: scale(.95);
        transition: all .3s ease-in-out 0s;
        z-index: $bg_canvas_lower;
        &::before{
          content: "";
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 50%;
          position: relative;
        }
        & > img{
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ease 0s;
        }
        & > .product-thumb-canvas{
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ease 0s;
        }        
        &:hover{
          transform: scale(1);
          z-index: $bg_canvas_upper;
          // filter: grayscale(0%);
        }  
      }
      &.fi{
        // opacity: 1;
        // transform: translateY(0%) scale(1);
      }
      &.fot{
        & > h1{
          opacity: 0;
          transform: translate(0, -100%);
        }
        & > .imageWrapper{
          opacity: 0;
          transform: translate(0, 0) scale(.9);
        }
      }  
      &.fob{
        & >  h1{
          opacity: 0;
          transform: translate(0, 100%);
        }
        & > .imageWrapper{
          opacity: 0;
          transform: translate(0, 0) scale(.9);
        }
      }
      &.clicked{
        & > .imageWrapper{
          transform: scale(1);
          filter: grayscale(100%);
          & > img{
            width: 150vw;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
.product{
  .product_head{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0 auto 60px;
    background-size: cover;
    background-position: 50% 50%;
    z-index: $bg_canvas_upper;
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(21, 34, 39, .4) 0%, rgba(21, 34, 39, .6) 100%);
    }
    & > img{
      width: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
    .detail{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      z-index: 2;
      .productname{
        font-size: 60px;
        font-weight: 900;
        line-height: 68px;
        text-align: center;
        margin: 0 0 10px;
        .small{
          font-size: 36px;
          font-weight: 700;
          line-height: 40px;
        }
      }
      .release{
        font-size: 24px;
        text-align: center;
      }
      .launchBtn{
        font-size: 16px;
        text-align: center;
        padding: 10px 20px;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-decoration: none;
        margin: 30px auto 0;
        display: inline-block;
        position: relative;
        border: 1px solid #fff;
        box-sizing: border-box;
        & > span{
          position: relative;
          z-index: 1;
        }
        &::before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: $pink;
          // z-index: -1;
          transition: all .3s ease 0s;
          transform: scaleX(0);
        }
        &:hover{
          color: #fff;
          &::before{
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .product_main{
    position: relative;
    z-index: $bg_canvas_upper;
    .detail{
      width: 80%;
      font-size: 16px;
      line-height: 22px;
      margin: 0 auto 120px;

      & > p{
        margin: 0 auto 30px;
      }

      .tag{
        display: flex;
        justify-content: flex-start;
        & > li{
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          margin: 0 10px 0 0;
          padding: 3px 5px;
          border: solid 1px #fff;
          border-radius: 2px;
        }
      }
    }

    .gallery{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      & > .image_outer{
        width: 100%;
        position: relative;
        margin: 0 0 60px;
        // border: 1px solid #000;
        box-sizing: border-box;
        transition: all .3s ease 0s;
        &.col-2{
          width: 31.33%;
          margin: 0 9.33% 60px;
        }
        &.col-3{
          width: 31.33%;
        }
        video, img{
          width: 100%;
          height: auto;
          display: block;
          transition: opacity .3s ease .3s;
          opacity: 0;
          &.active{
            opacity: 1;
          }
        }    
      }
    }
  }
}
.product_other{
  position: relative;
  z-index: $bg_canvas_upper;
  .collection_mv{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    & > ul{
      & > li{
        width: 100%;
        & > video{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.about{
  font-size: 16px;
  line-height: 24px;
  padding: 150px 0 0;
  .inner{
    z-index: $bg_canvas_upper;
  }
  .subsec{
    margin: 0 0 60px;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    & > div{
      width: 50%;
      padding: 0 30px 0 0;
      box-sizing: border-box;
    }
  }
  .label{
    font-size: 24px;
    margin: 0 0 30px;
  }
  .myname{
    margin: 0 0 60px;
    .jp{
      font-size: 40px;
      line-height: 48px;
      display: block;
    }
    .en{
      font-size: 24px;
      line-height: 28px;
      display: block;
    }
  }
  .detail{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .history{
    & > li{
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin: 0 0 15px;
      .year{
        width: 4em;
        display: inline-block;
      }
      p{
        display: inline-block;
      }
    }
  }
  .myAddressCanvas{
    width: 150px;
    height: 30px;
    display: inline-block;
  }
  .skill{
    .bar{
      width: 0;
      height: 25px;
      position: relative;
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      margin: 0 0 30px;
      &::before{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #ff0;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      & > .lang,
      & > .score{
        width: auto;
        height: 100%;
        text-align: left;
        z-index: 1;
        position: absolute;
        top: 0;
        z-index: 1;
      }
      & > .lang{
        left: 0;
      }
      & > .score{
        color: #fff;
        box-sizing: border-box;
        right: 0;
        padding: 0 10px 0 25%;
        box-sizing: border-box;
      }
      // color
      &.html{
        &::before{
          background: #d96a3a;
        }
        & > .score{
          background: #d96a3a;
        }
      }
      &.sass{
        &::before{
          background: #ba6a92;
        }
        & > .score{
          background: #ba6a92;
        }
      }
      &.javascript{
        &::before{
          background: #f3d749;
        }
        & > .score{
          color: #222;
          background: #f3d749;
        }
      }
      &.react{
        &::before{
          background: #7dd0ef;
        }
        & > .score{
          background: #7dd0ef;
        }
      }
      &.wordpress{
        &::before{
          background: #31353a;
          border-right: 50% solid #366d92;
        }
        & > .score{
          background: #31353a;
        }
      }
      &.webpack{
        &::before{
          background: #3673b4;
        }
        & > .score{
          background: #3673b4;
        }
      }
      // size
      &.bar-90{
        width: 90%;
      }
      &.bar-85{
        width: 85%;
      }
      &.bar-80{
        width: 80%;
      }
      &.bar-75{
        width: 75%;
      }
      &.bar-70{
        width: 70%;
      }
      &.bar-65{
        width: 65%;
      }
    }
  }
}
.err_404{
  p{
    width: 100vw;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $bg_canvas_upper;
  }
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  font-size: 12px;
  z-index: $ui;
  text-align: center;
  padding: 0 0 15px;
  & > span{
    display: block;
  }
}

@media screen and (max-width: 768px){
  body{
    font-size: 1.4rem;
  }
  .handler{
    display: none;
  }
  .overlay_first{
    .name{
      font-size: 25vw;
    }
  }  
  .main_outer{
    padding: 0 30px 60px;
  }  
  header{
    .back{
      width: 90px;
      height: 20px;
      font-size: 16px;
      top: 45px;
      & > span{
        margin-top: -8px;
      }
    }
    nav{
      top: 30px;
      right: 30px;
      .hamburger{
        width: 36px;
        height: 36px;
        display: block;
        &::before{
          height: 11px;
          top: 8px;
        }
        &::after{
          bottom: 7px;
        }
      }
      .link_list{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all .3s ease 0s;
        background: linear-gradient(to bottom,  rgba(233,233,233,0.9) 0%,rgba(243,243,243,0.95) 100%);
        padding: 150px 0 0 30px;
        box-sizing: border-box;
        box-shadow: -5px 0 10px 0 rgba(21, 34, 39, .4);
        display: block;
        & > li{
          font-size: 24px;
          font-weight: 400;
          margin: 0 0 30px;
          padding: 0 0 0 60px;
          box-sizing: border-box;
          text-align: left;
          transition: color .3s ease 0s;
          color: $bg_black;
          &::before{
            display: none;
          }
          & > span{
            color: $bg_black;
          }
          & > a{
          }
        }
      }
  
      &.active{
        .hamburger{
          display: block;
          &::before{
            border-color: $bg_black;            
          }
          &::after{
            border-color: $bg_black;            
          }
        }
        .link_list{
        }
      }
    }
    .white{
      &.hamburger{
        &::before, &::after{
        }
      }
    }
  }  
  .code{
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 10px;
  }  
  .productsList_bar{
    height: calc(100vw - 90px);
    transform-origin: 0% 0%;
    transform: rotate(270deg);
    left: calc(0% + 45px);
    top: calc(50% + 30vw);
    margin: 0;
    .bar_main{
    }
    .index{
      display: none;
    }
  }
  .products{
    width: calc(100vw - 50px);
    height: auto;
    & > li{
      position: relative;
      &::before{
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        position: relative;
        z-index: -1;      
      }      
      &.hidden{
        display: none;
      }
      & > span{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        & > h1{
          width: 95%;
          font-size: 40px;
          line-height: 48px;
          text-align: center;
          margin: 0;
          & > span{
          }
          &:hover + .imageWrapper{
            z-index: $bg_canvas_lower;
          }
        }
        & > .imageWrapper{
          width: 100%;
          transform: scale(1);
          position: absolute;
          top: 0;
          left: 0;          
          &::before{
          }
          & > img{
          }
          & > .product-thumb-canvas{
          }        
          &:hover{
            z-index: $bg_canvas_lower;
          }  
        }
        &.fi{
        }
        &.fot{
          & > h1{
            opacity: 0;
            transform: translate(-100%, 0);
          }
          & > .imageWrapper{
            opacity: 0;
            transform: translate(0, 0) scale(.9);
          }
        }  
        &.fob{
          & >  h1{
            opacity: 0;
            transform: translate(100%, 0);
          }
          & > .imageWrapper{
            opacity: 0;
            transform: translate(0, 0) scale(.9);
          }
        }
        &.clicked{
          & > .imageWrapper{
            & > img{
            }
          }
        }
      }
    }
  }  
  .product{
    .product_head{
      margin: 0 auto 30px;
      &::before{
      }
      & > img{
      }
      .detail{
        width: 95%;
        .productname{
          font-size: 32px;
          line-height: 36px;
          .small{
            font-size: 20px;
            line-height: 28px;
          }
        }
        .release{
          font-size: 16px;
        }
        .launchBtn{
          font-size: 14px;
          & > span{
          }
          &::before{
          }
          &:hover{
            &::before{
            }
          }
        }
      }
    }
    .product_main{
      position: relative;
      z-index: $bg_canvas_upper;
      .detail{
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto 60px;
        & > p{
          margin: 0 auto 15px;
          a, span.link{
            text-decoration: underline;
            color: inherit;
          }
        }
        .tag{
          & > li{
            font-size: 12px;
            line-height: 20px;
            margin: 0 10px 0 0;
            padding: 3px 5px;
          }
        }
      }
  
      .gallery{
        width: 100%;
        & > .image_outer{
          margin: 0 0 30px;
          &.col-2{
          }
          &.col-3{
          }
          video, img{
          }    
        }
      }
    }
  }  
  .product_other{
    .collection_mv{
      & > ul{
        & > li{
          & > video{
          }
        }
      }
    }
  }  
  .about{
    font-size: 14px;
    line-height: 20px;
    padding: 180px 0 0;
    .inner{
    }
    .subsec{
      margin: 0 0 45px;
    }
    .flex{
      display: block;
      & > div{
        width: 100%;
        padding: 0;
      }
    }
    .label{
      font-size: 20px;
      margin: 0 0 15px;
    }
    .myname{
      margin: 0 0 15px;
      .jp{
        font-size: 40px;
        line-height: 48px;
        display: block;
      }
      .en{
        font-size: 24px;
        line-height: 28px;
        display: block;
      }
    }
    .detail{
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
    .history{
      & > li{
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        margin: 0 0 10px;
        .year{
          width: 4em;
          display: inline-block;
        }
        p{
          display: inline-block;
        }
      }
    }
    .skill{
      .bar{
        &::before{
        }
        & > span{
        }
      }
    }
  }  
  footer{
    height: 20px;
    font-size: 11px;
    padding: 0 0 10px;
  }  
}